<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Casino</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container py-5">
        <!-- Messaggio di Benvenuto -->
        <h1 class="text-center mb-4">Benvenuto al Casino, {{ username }}!</h1>

        <!-- Griglia per i bottoni immagine -->
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
            <!-- Pulsante immagine per giocare alla slot -->
            <div class="col text-center">
                <form action="/book_of_ra" method="get">
                    <button type="submit" class="btn p-0 border-0">
                        <img src="static/immagini/book_of_ra.png" alt="Immagine Bottone 2" class="img-fluid" style="max-width: 200px;">
                    </button>
                </form>
            </div>

            <!-- Pulsante Roulette -->
            <div class="col text-center">
                <form action="/Roulette_1" method="post">
                    <button type="submit" class="btn p-0 border-0">
                        <img src="static/immagini/roulette_1.png" alt="Immagine Bottone 3" class="img-fluid" style="max-width: 200px;">
                    </button>
                </form>
            </div>

            <!-- Pulsante Crazy Time -->
            <div class="col text-center">
                <form action="/Crazy_time" method="post">
                    <button type="submit" class="btn p-0 border-0">
                        <img src="static/immagini/crazytimelogotransparent.png" alt="Immagine Bottone 4" class="img-fluid" style="max-width: 200px;">
                    </button>
                </form>
            </div>

            <!-- Pulsante Black Jack -->
            <div class="col text-center">
                <form action="/black_jack_1" method="post">
                    <button type="submit" class="btn p-0 border-0">
                        <img src="static/immagini/black jack.png" alt="Immagine Bottone 1" class="img-fluid" style="max-width: 200px;">
                    </button>
                </form>
            </div>
        </div>

        <!-- Pulsante di logout -->
        <div class="text-center mt-5">
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
